.center {text-align: center}

#styledImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    background-color: rgb(229, 243, 236);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}


h1 {font-size: 60px;}

h2 {font-style:oblique}